apiVersion: infra.exalsius.ai/v1
kind: Colony
metadata:
  name: {{ name }}
spec:
  clusterName: {{ name }}
  k8sVersion: "{{ k8s_version | default('v1.27.2') }}"
  workloadDependencies:
    - name: volcano-sh

  {% if docker_enabled %}
  hostedControlPlaneEnabled: true

  dockerEnabled: true
  docker:
    replicas: {{ docker_replicas | default(1) }}
  {% endif %}

  {% if aws_enabled %}
  hostedControlPlaneEnabled: false

  awsEnabled: true
  aws:
    replicas: {{ aws_replicas | default(3) }}
    ami: {{ aws_ami | default('ami-0ca03f7e7f0df9d7a') }}
    region: {{ aws_region | default('eu-central-1') }}
    instanceType: {{ aws_instance_type | default('t3.large') }}
    sshKeyName: {{ aws_ssh_key_name | default('exalsius') }}
    iamInstanceProfile: {{ aws_iam_instance_profile | default('nodes.cluster-api-provider-aws.sigs.k8s.io') }}
  {% endif %}