apiVersion: cluster.x-k8s.io/v1beta1
kind: Machine
metadata:
  name:  {{ node_name }}
  namespace: default
spec:
  clusterName: {{ cluster_name }}
  bootstrap:
    configRef:
      apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
      kind: K0sWorkerConfig
      name: {{ node_name }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: RemoteMachine
    name: {{ node_name }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: K0sWorkerConfig
metadata:
  name: {{ node_name }}
  namespace: default
spec:
  version: {{ k8s_version | default("v1.27.2+k0s.0") }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: RemoteMachine
metadata:
  name: {{ node_name }}
  namespace: default
spec:
  address: {{ ip_address }}
  port: {{ port | default(22) }}
  user: {{ username }}
  useSudo: {{ use_sudo | default(true) }}
  sshKeyRef:
    # This defines which SSH key to use for connecting to the machine. The Secret needs to have key 'value' with the SSH private key in it.
    name: {{ ssh_key_name }}
